<form class="form-inner-container" [formGroup]="formGroup" (ngSubmit)="callback($event)">
    <div class="form-body">
        <label for="collection-group-name">Name:</label>
        <input id="collection-group-name" type="text" formControlName="name" autocomplete="off" />
        <label>Color:</label>
        <div class="color-radio-button-container">
            <input
                *ngFor="let color of colors"
                type="radio"
                name="color"
                [id]="color"
                [value]="color"
                [ngClass]="{ checked: isColorSelected(color) }"
                [class]="color"
                (change)="changeColor(color)"
                formControlName="color" />
        </div>
    </div>
    <button type="submit">
        <ng-container [ngTemplateOutlet]="buttonTemplate"></ng-container>
    </button>
</form>
