@import '/src/styles/color.scss';

.collection-container {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

.collection-public-mark {
    font-size: 0.9rem;
}

.collection-title {
    margin: 0 0 1.1rem 0;
}

.collection-description {
    white-space: break-spaces;
    line-height: 1.5rem;
    width: clamp(45ch, 50%, 75ch);
    margin: 1.1rem 0;
}

.collection-information {
    display: flex;
    column-gap: 1.5em;

    & > p {
        margin: 0;
    }

    & .collection-information-bold {
        font-weight: 1000;
    }
}

.collection-body-controls {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > * {
        column-gap: 1em;
    }

    img {
        height: 2.5em;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1em;
        width: 100%;
        border: 2px $gray-outline solid;
        border-radius: 50%;
    }
}

.collection-body-primary-controls {
    display: flex;
    align-items: center;
}

.collection-body-secondary-controls {
    display: flex;
    align-items: center;
}
