<div class="footer under-navbar-container" *ngIf="collection && username; else loader">
    <div class="collection-container dissolve-animation-enter">
        <div class="collection-header">
            <!-- <span class="collection-public-mark">{{ collection.isPublic ? 'Public' : 'Private' }}</span> -->
            <h1 class="collection-title">{{ collection.name }}</h1>
            <p class="collection-description">{{ collection.description }}</p>
            <div class="collection-information">
                <p><span class="collection-information-bold">Author: </span>{{ username }}</p>
                <p><span class="collection-information-bold">Flashcards:</span> {{ collection.flashcards.length }}</p>
            </div>
        </div>
        <div class="collection-body-controls">
            <div class="collection-body-primary-controls">
                <button
                    [disabled]="collection.flashcards.length === 0"
                    class="round-button"
                    (click)="openModal(playCollection, { showClose: false, transparentBackground: false })">
                    <img src="./assets/play.svg" class="user-icon inverted-black-icon" />
                </button>
                <button
                    class="empty-button round-button"
                    (click)="
                        collection.type == 'definition' ? openModal(definitionFlashcardForm) : openModal(translationFlashcardForm)
                    "
                    *ngIf="isUserAuthenticated">
                    <img class="grayed-icon" src="./assets/add-circle.svg" />
                </button>
                <button class="empty-button round-button" (click)="flip()">
                    <img class="grayed-icon" src="./assets/360.svg" />
                </button>
            </div>
            <app-search-input class="search-input" (searchTerm)="filter($event)"></app-search-input>
            <app-dropdown-menu [properties]="sortDropdownProperties" (optionClicked)="sort($event)"></app-dropdown-menu>
        </div>
        <div *ngIf="collection.flashcards.length > 0; else noFlaschards" class="collection-body">
            <app-flashcard-preview
                *ngFor="let flashcard of flashcardsWithFlipState; let index = index; trackBy: trackBy"
                class="slide-from-left-and-scale-enter"
                [style.animation-delay]="0.1 * index + 's'"
                [flashcardWithFlipState]="flashcard"
                [collectionId]="collectionId"
                (flashcardFlipped)="correctFlipState()"></app-flashcard-preview>
        </div>
    </div>
</div>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>

<ng-template #noFlaschards>
    <div style="flex: 1; display: flex; justify-content: center; align-items: center; width: 100%">
        🌵 This collection is empty 🌵
    </div>
</ng-template>

<ng-template #definitionFlashcardForm>
    <app-create-definition-flashcard-form [collectionId]="collectionId"></app-create-definition-flashcard-form>
</ng-template>

<ng-template #translationFlashcardForm>
    <app-create-translation-flashcard-form [collectionId]="collectionId"></app-create-translation-flashcard-form>
</ng-template>

<ng-template #playCollection>
    <app-flashcard-display [flashcards]="newFlashcardsWithFlipState" [flipState]="flipState"></app-flashcard-display>
</ng-template>

<ng-template #sortIcon>
    <div class="sort-icon-padding">
        <img class="grayed-icon" src="./assets/sort.svg" />
    </div>
</ng-template>

<ng-template #arrowUpIcon>
    <div class="sort-option-icons">
        <img class="grayed-icon" src="./assets/arrow_upward.svg" />
    </div>
</ng-template>

<ng-template #arrowDownIcon>
    <div class="sort-option-icons">
        <img class="grayed-icon" src="./assets/arrow_downward.svg" />
    </div>
</ng-template>

<ng-template #scheduleUpIcon>
    <div class="sort-option-icons">
        <img class="grayed-icon" src="./assets/schedule.svg" />
        <img class="grayed-icon" src="./assets/arrow_upward.svg" />
    </div>
</ng-template>

<ng-template #scheduleDownIcon>
    <div class="sort-option-icons">
        <img class="grayed-icon" src="./assets/schedule.svg" />
        <img class="grayed-icon" src="./assets/arrow_downward.svg" />
    </div>
</ng-template>
