<div class="footer under-navbar-container" *ngIf="collection && username; else loader">
    <div class="collection-header">
        <span class="collection-public-mark">{{ collection.isPublic ? 'Public' : 'Private' }}</span>
        <h1 class="collection-title">{{ collection.name }}</h1>
        <p class="collection-description">{{ collection.description }}</p>
        <div class="collection-information">
            <p><span class="collection-information-bold">Author: </span>{{ username }}</p>
            <p><span class="collection-information-bold">Flashcards:</span> {{ collection.flashcards.length }}</p>
        </div>
    </div>
</div>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>

