.collection-public-mark {
    font-size: 0.9rem;
}

.collection-title {
    margin: 0 0 1.1rem 0;
}

.collection-description {
    white-space: break-spaces;
    line-height: 1.5rem;
    width: clamp(45ch, 50%, 75ch);
    margin: 1.1rem 0;
}

.collection-information {
    display: flex;
    column-gap: 1.5em;

    & > p {
        margin: 0;
    }

    & .collection-information-bold {
        font-weight: 1000;
    }
}
