<div class="footer under-navbar-container" *ngIf="collection$ | async as collection; else loader">
    <div class="collection-header">
        <span class="collection-public-mark">{{ collection.isPublic ? 'Public' : 'Private' }}</span>
        <h1 class="collection-title">{{ collection.name }}</h1>
        <p class="collection-description">{{ collection.description }}</p>
        <div class="collection-information"><span>Flashcards:</span> {{ collection.flashcards.length }}</div>
    </div>
</div>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>

