.collection-public-mark {
    font-size: 0.9rem;
}

.collection-title {
    margin: 0em 0 1em 0;
}

.collection-description {
    white-space: break-spaces;
    line-height: 1.5rem;
    width: clamp(45ch, 50%, 75ch);
}

.collection-information {
    & > span {
        font-weight: 1000;
    }
}
