<ng-container *ngIf="collectionGroup !== undefined">
    <div class="collection-group-header light-box-shadow dissolve-animation-enter" [class]="collectionGroup.color">
        <h1 class="header-text collection-group-header-text-margin">{{ collectionGroup.name }}</h1>
        <div>
            <button class="empty-button">
                <img src="./assets/edit.svg" class="hover-icon" (click)="openModal(editCollectionGroupForm)" />
            </button>
            <button class="empty-button">
                <img src="./assets/close.svg" class="hover-icon" (click)="deleteGroup()" />
            </button>
        </div>
    </div>
    <div class="collection-grid">
        <button
            *ngFor="let collection of collectionGroup.collections"
            class="collection-box existing-collection light-box-shadow empty-button dissolve-animation-enter"
            [class]="collectionGroup.color">
            <div class="collection-group-action-buttons-container">
                <img src="./assets/edit.svg" class="grayed-icon" />
                <img src="./assets/close.svg" (click)="confirmCollectionDelete(collection)" class="grayed-icon" />
            </div>
            {{ collection.name }}
        </button>
        <button
            class="add-new-collection-box collection-box light-box-shadow empty-button dissolve-animation-enter"
            (click)="openCreateCollectionModal(collectionForm)">
            <img class="grayed-icon" src="./assets/add-circle.svg" />
        </button>
    </div>
</ng-container>

<ng-template #collectionForm><app-create-collection-form></app-create-collection-form> </ng-template>

<ng-template #editCollectionGroupForm>
    <app-edit-collection-group-form [collectionGroup]="collectionGroup"></app-edit-collection-group-form>
</ng-template>

