@import '/src/styles/color.scss';
@import '/src/styles/shared.scss';

.arrow-icon {
    transition: 0.2s;
}

.collection-group-header {
    border: 3px $primary-background solid;
    @include collection-group-header();

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.pink {
        background: $primary-gradient;
    }

    &.green {
        background: $green-gradient;
    }

    &.blue {
        background: $blue-gradient;
    }

    &.yellow {
        background: $yellow-gradient;
    }
}

.collection-group-header-controls {
    display: flex;
    column-gap: 0.7rem;
}

.collection-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    column-gap: 2%;
    row-gap: 1.2rem;
    margin: 1em 0;
    transform-origin: top;
    transition: 0.4s ease;
    opacity: 1;
    transform: scaleY(100%);

    &.collection-grid-collapsed {
        transform: scaleY(0%);
        opacity: 0;
    }
}

.collection-box {
    width: 15%;
    height: 8rem;
    border-radius: 15px;
    border: 2px $gray-outline solid;
    transition: 0.3s;

    &.pink {
        background: $primary-gradient-transparent;
        border-color: $pink-collection;
    }

    &.green {
        background: $green-gradient-transparent;
        border-color: $green-collection;
    }

    &.blue {
        background: $blue-gradient-transparent;
        border-color: $blue-collection;
    }

    &.yellow {
        background: $yellow-gradient-transparent;
        border-color: $yellow-collection;
    }

    @include darken-on-hover-active();
}

.existing-collection {
    position: relative;
    padding: 0.5rem;
    padding-top: 2rem;
    font-size: 1.05rem;
    word-break: break-all;
    overflow: hidden;
}

.collection-group-action-buttons-container {
    width: calc(100% - 0.6em);
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0.3em;
    right: 0.3em;
    left: 0.3em;
}

.add-new-collection-box {
    background-color: $gray-fill;
    border: 3px $gray-outline solid;

    img {
        width: 40%;
        max-width: 50px;
    }
}
