@import '/src/styles/color.scss';
@import '/src/styles/shared.scss';

.collection-group-header {
    @include collection-group-header($primary-background, $primary-gradient);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collection-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    margin: 1em 0;
}

.collection-box {
    display: inline-block;
    width: 10em;
    height: 10em;
    border-radius: 15px;
}

.add-new-collection-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px $gray-outline solid;
    background-color: $gray-fill;
    transition: 0.2s;

    &:hover {
        background-color: $gray-fill-hover;
    }

    &:active {
        background-color: $gray-fill-active;
    }

    img {
        width: 40%;
    }
}
