<nav class="navbar-container default-x-padding">
    <div class="navbar-content-container">
        <div class="logo-container">
            <button @arrow *ngIf="displayBackArrow" class="empty-button back-button" (click)="navigateBack()">
                <img src="./assets/arrow_back.svg" class="hover-icon" />
            </button>
            <button class="header-text empty-button" routerLink="/home">TwinkleCards✨</button>
        </div>
        <div class="navbar-search-auth">
            <!-- <app-search-input (searchTermEnter)="navigateToSearch($event)" [sendWithEnter]="true"></app-search-input> -->
            <app-auth></app-auth>
        </div>
    </div>
</nav>
