@import '/src/styles/utils.scss';

.navbar-container {
    position: sticky;
    top: 0em;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $navbar-height;

    background-color: hsl(0, 0%, 95%);
    box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.486);
    z-index: 2;
}
.navbar-app-title {
    cursor: pointer;
}
