<div #mainButton class="dropdown-container" [ngClass]="{ active: optionsExpanded }" (click)="toggleOptions()">
    <button class="dropdown-button empty-button" [ngClass]="{ 'light-box-shadow': optionsExpanded }">
        {{ properties.mainButton }}
        <img
            *ngIf="properties.showArrow"
            src="./assets/expand_more.svg"
            class="arrow-icon"
            [ngClass]="{ 'icon-rotated': optionsExpanded }" />
    </button>
    <div #options class="dropdown-options" [ngClass]="{ 'light-box-shadow': optionsExpanded }">
        <button *ngFor="let option of properties.options" class="empty-button" (click)="emitValue(option.emitValue)">
            {{ option.display }}
        </button>
    </div>
</div>

