<div #mainButton class="dropdown-container" [ngClass]="{ active: optionsExpanded }" (click)="toggleOptions()">
    <button class="dropdown-button empty-button" [ngClass]="{ 'light-box-shadow': optionsExpanded }">
        {{ properties.mainButton }}
        <ng-container
            *ngIf="properties.mainButtonTemplate !== undefined"
            [ngTemplateOutlet]="properties.mainButtonTemplate"></ng-container>
        <img
            *ngIf="properties.showArrow"
            src="./assets/expand_more.svg"
            class="arrow-icon"
            [ngClass]="{ 'icon-rotated-180': optionsExpanded }" />
    </button>
    <div #options class="dropdown-options" [ngClass]="{ 'light-box-shadow': optionsExpanded }">
        <button
            *ngFor="let option of properties.options; let index = index"
            class="empty-button dropdown-menu-option"
            (click)="emitValue(option.emitValue, index)"
            [ngClass]="{ 'dropdown-option-selected': isOptionSelected(index) }">
            <span>{{ option.display }}</span>
            <ng-container *ngIf="option.displayTemplate !== undefined" [ngTemplateOutlet]="option.displayTemplate"></ng-container>
        </button>
    </div>
</div>

