@import '/src/styles/color.scss';

.search-input-container {
    display: flex;
    position: relative;
    justify-content: flex-end;
    width: 100%;
}

.search-input {
    $searchIconWidth: 24px;
    position: absolute;
    right: 0;
    background-color: inherit;
    border: 2px transparent solid;
    padding-right: $searchIconWidth;
    width: $searchIconWidth;
    max-width: $searchIconWidth;
    min-width: $searchIconWidth;
    &:focus {
        border: unset;
    }

    .active & {
        border: 2px $gray-outline-solid solid;
        background-color: white;
        width: 100%;
        max-width: 25em;
        min-width: 12em;
    }
}
