@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Apply the animation to the element */
.dissolve-animation-enter {
    animation: fadeIn 500ms ease-out forwards;
}

.slide-from-left-enter {
    transform: translateX(-200%);
    animation: slideFromLeft 0.6s ease forwards;
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

.slide-from-left-and-scale-enter {
    position: relative;
    scale: 0.1;
    left: -100vw;
    animation: slideFromLeftAndScale 0.8s ease forwards;
}

@keyframes slideFromLeftAndScale {
    from {
        scale: 0.1;
        left: -100vw;
    }
    to {
        scale: 1;
        left: unset;
    }
}
