@import './color.scss';
@import './shared.scss';

button:not(.empty-button) {
    display: flex;
    column-gap: 0.15em;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgb(238, 238, 238);
    font-size: 1.05rem;
    font-weight: 600;
    border: unset;
    background-color: $primary-background;
    -webkit-box-shadow: 1px 1px 8px 0px rgb(188, 188, 192);
    -moz-box-shadow: 1px 1px 8px 0px rgb(188, 188, 192);
    box-shadow: 1px 1px 8px 0px rgb(188, 188, 192);
    width: fit-content;

    transition: 0.3s;

    &.white-button {
        background-color: $tertiary-background;
        color: black;
        border: 3px $secondary-background solid;

        @include darken-on-hover-active;
    }

    &:not(.round-button) {
        border-radius: 15px;
        padding: 0.6em 1em;
        min-width: 5em;
    }

    &:hover:not(:disabled, .cancel-button, .confirm-button, .white-button) {
        background-color: $primary-hover;
    }

    &:active:not(:disabled, .cancel-button, .confirm-button, .white-button) {
        background-color: $primary-active;
    }

    &:disabled {
        background-color: $gray-outline-solid;
        box-shadow: unset;
        cursor: initial;
    }

    &.login-button {
        column-gap: 0.4em;
    }

    &.cancel-button {
        background-color: $cancel-button-color;
        box-shadow: unset;

        @include darken-on-hover-active;
    }

    &.confirm-button {
        background-color: $confirm-button-color;
        box-shadow: unset;

        @include darken-on-hover-active;
    }
}

.empty-button {
    cursor: pointer;
    background: inherit;
    border: unset;
    padding: 0;
}

.right-side-button {
    margin-top: 1.5em;
    margin-left: auto;
}

.round-button {
    border-radius: 50%;
    min-width: unset;
    padding: 0.4em;
}

@media (max-width: 600px) {
    button:not(.empty-button) {
        font-size: 0.9rem;
    }
}
