@import './color.scss';
@import './shared.scss';
.custom-button {
    cursor: pointer;
}

button:not(.custom-button, .empty-button) {
    & {
        display: flex;
        column-gap: 0.5em;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: rgb(238, 238, 238);
        font-size: 16px;
        font-weight: 600;
        padding: 0.6em 1em;
        border: unset;
        border-radius: 15px;
        background: $primary-gradient;
        -webkit-box-shadow: 2px 2px 2px 0px rgba(129, 131, 142, 1);
        -moz-box-shadow: 2px 2px 2px 0px rgba(129, 131, 142, 1);
        box-shadow: 2px 2px 2px 0px rgba(129, 131, 142, 1);
        width: fit-content;
        min-width: 5em;

        transition: 0.2s;
        @include lighten-on-hover-active;
    }

    &.login-button {
        background: unset;
        background-color: $primary-background;
        border: 1px $primary-hover solid;
        &:hover {
            background-color: $primary-hover;
        }

        &:active {
            background-color: $primary-active;
        }
    }

    &.cancel-button {
        background: $cancel-button-gradient;

        @include lighten-on-hover-active;
    }

    &.confirm-button {
        background: $confirm-button-gradient;

        @include lighten-on-hover-active;
    }
}

.empty-button {
    cursor: pointer;
    background: inherit;
    border: unset;
}
