@import './color.scss';

button:not(.custom-button) {
    & {
        display: flex;
        column-gap: 0.5em;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: rgb(238, 238, 238);
        font-size: 16px;
        font-weight: 600;
        padding: 0.6em 1em;
        border-radius: 10px;
        background-color: $primary-background;
        border: 1px $primary-hover solid;
        -webkit-box-shadow: 2px 2px 2px 0px rgba(129, 131, 142, 1);
        -moz-box-shadow: 2px 2px 2px 0px rgba(129, 131, 142, 1);
        box-shadow: 2px 2px 2px 0px rgba(129, 131, 142, 1);

        transition: 0.2s;
    }

    &:hover {
        background-color: $primary-hover;
    }

    &:active {
        background-color: $primary-active;
    }
}
