$primary-background: hsl(283, 81%, 52%);
$primary-hover: hsl(283, 74%, 49%);
$primary-active: hsl(283, 73%, 44%);

$secondary-background: hsl(290, 78%, 64%);
$secondary-hover: hsl(290, 50%, 60%);
$secondary-active: hsl(290, 45%, 55%);

$tertiary-background: hsl(0, 0%, 93%);

$primary-gradient: linear-gradient(135deg, hsl(315, 90%, 81%) 0%, hsl(313, 100%, 50%) 30%, $primary-background 100%);
$secondary-gradient: linear-gradient(135deg, $tertiary-background 0%, $secondary-background 100%);
$secondary-gradient-transparent: linear-gradient(135deg, hsl(0, 0%, 93%, 50%) 0%, hsl(290, 78%, 64%, 50%) 100%);

$green-gradient: linear-gradient(135deg, hsl(115, 74%, 75%) 0%, hsl(119, 55%, 51%) 30%, $primary-background 100%);
$yellow-gradient: linear-gradient(135deg, hsl(44, 75%, 74%) 0%, hsl(54, 55%, 51%) 30%, $primary-background 100%);
$blue-gradient: linear-gradient(135deg, hsl(204, 93%, 79%) 0%, hsl(186, 69%, 53%) 30%, $primary-background 100%);

$gray-outline: hsl(0, 0%, 70%, 0.3);
$gray-fill: hsl(0, 0%, 85%, 0.3);
$gray-fill-hover: hsl(0, 0%, 80%, 0.4);
$gray-fill-active: hsl(0, 0%, 75%, 0.5);

$gray-outline-solid: hsl(0, 0%, 75%);
$gray-text: hsl(0, 0%, 40%);

$gray-gradient: linear-gradient(135deg, $tertiary-background 0%, $gray-outline-solid 100%);

$red-warn: hsl(0, 65%, 50%);
$green-confirm: hsl(110, 45%, 50%);

$confirm-button-gradient: linear-gradient(135deg, rgba(104, 218, 82, 1) 0%, rgba(78, 158, 62, 1) 80%, rgba(60, 121, 47, 1) 100%);
$cancel-button-gradient: linear-gradient(135deg, rgb(240, 22, 22) 0%, rgb(199, 57, 57) 60%, rgb(140, 36, 36) 100%);
