$primary-background: hsl(283, 81%, 52%);
$primary-hover: hsl(283, 74%, 49%);
$primary-active: hsl(283, 73%, 44%);

$secondary-background: hsl(290, 78%, 64%);
$secondary-hover: hsl(290, 50%, 60%);
$secondary-active: hsl(290, 45%, 55%);

$tertiary-background: hsl(0, 0%, 93%);

$primary-gradient: linear-gradient(135deg, hsl(315, 90%, 81%) 0%, hsl(315, 76%, 50%) 30%, $primary-background 100%);
$secondary-gradient: linear-gradient(135deg, $tertiary-background 0%, $secondary-background 100%);

$gray-outline: hsl(0, 0%, 70%, 0.3);
$gray-fill: hsl(0, 0%, 85%, 0.3);
$gray-fill-hover: hsl(0, 0%, 80%, 0.4);
$gray-fill-active: hsl(0, 0%, 75%, 0.5);

$gray-outline-solid: hsl(0, 0%, 75%);
$gray-text: hsl(0, 0%, 40%);

$gray-gradient: linear-gradient(135deg, $tertiary-background 0%, $gray-outline-solid 100%);
