@import './color.scss';

.form-outer-container {
    background-color: $tertiary-background;
    padding: 2em;
    border-radius: 15px;
    color: $gray-text;
    white-space: pre-wrap;

    h3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h3:after {
        content: '';
        width: 70%;
        border: 2px $gray-outline solid;
        border-image-slice: 1;
        border-image-source: $primary-gradient;
        border-radius: 50%;
        margin: 0.3em 0;
    }
}

.form-inner-container {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    align-items: end;
}

.form-body {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1em;
    row-gap: 0.5em;
}

label:has(+ input[type='text']) {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1em;
    width: 100%;

    &:has(+ input.ng-invalid.ng-touched) {
        color: $red-warn;
    }
}

input[type='text'] {
    width: 100%;
    font-size: 1rem;
    border-radius: 15px;
    padding: 0.5em;
    border: 2px $gray-outline-solid solid;

    &:focus-visible,
    &:focus {
        border: 2px $gray-text solid;
        outline: unset;
    }

    &.ng-invalid.ng-touched {
        border: 2px $red-warn solid;
    }
}
