@import './color.scss';

.form-container {
    background-color: $tertiary-background;
    padding: 2em;
    border-radius: 15px;
    color: $gray-text;
    white-space: pre-wrap;

    h3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h3:after {
        content: '';
        width: 70%;
        border: 2px $gray-outline solid;
        border-image-slice: 1;
        border-image-source: $primary-gradient;
        border-radius: 50%;
        margin: 0.3em 0;
    }
}

label:has(input[type='text']) {
    input {
        width: 100%;
        font-size: 1rem;
        border-radius: 15px;
        padding: 0.5em;
        border: 2px $gray-outline-solid solid;

        &:focus-visible,
        &:focus {
            border: 2px $gray-text solid;
            outline: unset;
        }

        &.ng-invalid.ng-touched {
            border: 2px $red-warn solid;
        }
    }

    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1em;
    width: 100%;

    &:has(input.ng-invalid.ng-touched) {
        color: $red-warn;
    }
}
