.inverted-black-icon {
    filter: invert(88%);
}

.hover-icon {
    transition: 0.3s;
}

.hover-icon:hover {
    scale: 1.1;
}

.grayed-icon {
    filter: invert(48%) sepia(0%) saturate(1116%) hue-rotate(166deg) brightness(105%) contrast(88%);
}

.grayed-icon-hover {
    @extend .grayed-icon;
    transition: 0.3s;
}

.grayed-icon-hover:hover {
    scale: 1.1;
    filter: brightness(55%);
}

.icon-rotated-180 {
    transform: rotate(180deg);
}

.icon-rotated-90 {
    transform: rotate(90deg);
}

.icon-rotated-270 {
    transform: rotate(270deg);
}
