@mixin collection-group-header() {
    border-bottom: unset;
    border-left: unset;
    border-radius: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 0.3em 1em;
}

.collection-group-header-text-margin {
    margin: 0.2em 0;
}

@mixin darken-on-hover-active {
    transition: 0.2s;
    filter: brightness(100%);

    &:hover {
        filter: brightness(95%);
    }

    &:active {
        filter: brightness(90%);
    }
}

@mixin lighten-on-hover-active {
    transition: 0.2s;
    filter: brightness(100%);

    &:hover {
        filter: brightness(105%);
    }

    &:active {
        filter: brightness(110%);
    }
}
