@mixin collection-group-header($border, $background) {
    border: 2px $border solid;
    border-bottom: unset;
    border-left: unset;
    border-radius: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: $background;
    padding: 0.2em 1em;
}

.collection-group-header-text-margin {
    margin: 0.2em 0;
}
