p {
    margin: 0;
}

.user-icon {
    height: 14px;
    transition: 0.1s;
}

.user-icon-rotated {
    transform: rotate(180deg);
}

$borderWidth: 2px;

.username-button {
    & {
        cursor: pointer;
        position: relative;
        font-size: 16px;
        display: inline-flex;
        align-items: center;

        padding: 0.5em;
        margin: 0;
        border: $borderWidth rgba(255, 255, 255, 0) solid;
        border-bottom: unset;
        transition: 0.1s;
    }

    &.active {
        border: $borderWidth black solid;
        border-radius: 5px;
        border-bottom: unset;
        border-bottom-left-radius: unset;
        border-bottom-right-radius: unset;
        background-color: rgb(228, 228, 228);
    }
}

.username-container {
    display: flex;
    align-items: center;
    column-gap: 0.3em;
}

.username-options {
    & {
        box-sizing: content-box;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 100%;
        left: calc($borderWidth / (-2));
        width: calc(100% - $borderWidth / 2);
    }

    .active > & {
        border: $borderWidth black solid;
        border-radius: 5px;
        border-top: unset;
        border-top-left-radius: unset;
        border-top-right-radius: unset;
    }

    & > * {
        & {
            padding: 0.5rem 0;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            background-color: rgb(228, 228, 228);
        }
        .active & {
            border-top: $borderWidth black solid;

            &:hover {
                background: rgb(214, 214, 214);
            }

            &:active {
                background: rgb(202, 202, 202);
            }
        }
    }
}
