button {
    border: unset;
    font-size: 16px;
    background: inherit;
}

.user-icon {
    height: 14px;
    transition: 0.2s;
}

.user-icon-rotated {
    transform: rotate(180deg);
}

$borderWidth: 2px;

.username-container {
    cursor: pointer;
    position: relative;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    margin: 0;
}

.username-button {
    padding: 0.5em;
    display: flex;
    align-items: center;
    column-gap: 0.3em;

    border: $borderWidth rgba(255, 255, 255, 0) solid;
    border-radius: 5px;
    border-bottom: unset;
    transition: 0.2s;

    .active > & {
        border: $borderWidth black solid;
        border-bottom: unset;
        border-bottom-left-radius: unset;
        border-bottom-right-radius: unset;
        background-color: rgb(228, 228, 228);
    }
}

.username-options {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100%;
    left: 0;
    width: 100%;

    .active > & {
        border: $borderWidth black solid;
        border-radius: 5px;
        border-top: unset;
        border-top-left-radius: unset;
        border-top-right-radius: unset;
    }

    & > * {
        padding: 0.5rem 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: rgb(228, 228, 228);

        .active & {
            border-top: $borderWidth black solid;
            transition: 0.2s;

            &:hover {
                background: rgb(214, 214, 214);
            }

            &:active {
                background: rgb(202, 202, 202);
            }
        }
    }
}
