<div class="flip-card" [ngClass]="{ 'flip-card-flipped': flipped }">
    <div class="flip-card-inner">
        <div class="flashcard-container light-box-shadow flip-card-front">
            <ng-container [ngTemplateOutlet]="flashcardIcons"></ng-container>
            <div class="flashcard-upper-text-container" appMatchHeight [elementToMatchHeight]="backsideUpper">
                <div class="flashcard-upper-text">{{ frontsideFlashcardHeader }}</div>
            </div>
            <div class="flashcard-preview-lower-text-container">
                <div class="flashcard-lower-text" appMatchHeight [elementToMatchHeight]="backsideLower">
                    {{ frontsideFlashcardBody }}
                </div>
            </div>
        </div>
        <div class="flashcard-container light-box-shadow flip-card-back" #backside>
            <ng-container [ngTemplateOutlet]="flashcardIcons"></ng-container>
            <div class="flashcard-upper-text-container" #backsideUpper>
                <div class="flashcard-upper-text" *ngIf="backsideFlashcardHeader">
                    {{ backsideFlashcardHeader }}
                </div>
            </div>
            <div class="flashcard-preview-lower-text-container">
                <div class="flashcard-lower-text" #backsideLower>{{ backsideFlashcardBody }}</div>
            </div>
        </div>
    </div>
</div>

<ng-template #definitionFlashcardForm>
    <app-edit-definition-flashcard-form
        [collectionId]="collectionId"
        [flashcard]="flashcard"></app-edit-definition-flashcard-form>
</ng-template>

<ng-template #translationFlashcardForm>
    <app-edit-translation-flashcard-form
        [collectionId]="collectionId"
        [flashcard]="flashcard"></app-edit-translation-flashcard-form>
</ng-template>

<ng-template #flashcardIcons>
    <button
        class="empty-button flashcard-top-left-icon"
        (click)="flashcardType == 'definition' ? openModal(definitionFlashcardForm) : openModal(translationFlashcardForm)"
        *ngIf="isUserOwner">
        <img src="./assets/edit.svg" class="grayed-icon-hover" />
    </button>
    <button class="empty-button flashcard-top-right-icon" (click)="deleteFlashcard()" *ngIf="isUserOwner">
        <img src="./assets/delete.svg" class="grayed-icon-hover" />
    </button>
    <button class="empty-button flashcard-bottom-left-icon" (click)="flip()">
        <img src="./assets/360.svg" class="grayed-icon-hover" />
    </button>
    <button class="empty-button flashcard-bottom-right-icon" *ngIf="isUserOwner">
        <img src="./assets/check.svg" class="grayed-icon-hover" />
    </button>
</ng-template>
