<button class="empty-button flashcard-preview light-box-shadow">
    <button class="empty-button flashcard-preview-edit">
        <img src="./assets/edit.svg" class="grayed-icon hover-icon" />
    </button>
    <button class="empty-button flashcard-preview-delete">
        <img src="./assets/close.svg" class="grayed-icon hover-icon" />
    </button>
    <button class="empty-button flashcard-preview-flip">
        <img src="./assets/360.svg" class="grayed-icon hover-icon" />
    </button>
    <div class="flashcard-preview-upper-text-container">
        <div class="flashcard-preview-upper-text">{{ getFrontsideFlashcardHeader() }}</div>
    </div>
    <div class="flashcard-preview-lower-text">{{ getFronsideFlashcardBody() }}</div>
</button>

