@import '/src/styles/color.scss';

.flashcard-preview {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px $gray-outline-solid solid;
    padding: 0;
    background-color: $tertiary-background;

    & > * {
        display: flex;
        justify-content: center;
        align-items: center;
        word-break: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.flashcard-preview-upper-text-container {
    width: 100%;
    background-color: $dimmed-primary-background;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 1em 2.2em;
}

.flashcard-preview-upper-text {
    font-weight: 600;
    font-size: 1.05rem;
    background-color: $tertiary-background;
    padding: 0.2em;
    border-radius: 5px;
}

.flashcard-preview-lower-text-container {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 1em 2.2em;
    padding-top: 0.5em;
    flex: 1;
}

.flashcard-preview-lower-text {
    display: flex;
    align-items: center;
    font-size: 1rem;
    background-color: $tertiary-background;
}

$icon-offset: 0.3em;

.flashcard-preview-edit {
    position: absolute;
    left: $icon-offset;
    top: $icon-offset;
    border-radius: 50%;
    background-color: $dimmed-primary-background;
}

.flashcard-preview-delete {
    position: absolute;
    right: $icon-offset;
    top: $icon-offset;
    border-radius: 50%;
    background-color: $dimmed-primary-background;
}

.flashcard-preview-flip {
    position: absolute;
    left: $icon-offset;
    bottom: $icon-offset;
    border-radius: 50%;
}

.grayed-icon:hover {
    transition: 0.3s;
    filter: brightness(100%);
}
