@import '/src/styles/color.scss';
@import '/src/styles/shared.scss';

.collection-groups-container {
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
}

.add-new-collection-group-header {
    @include collection-group-header($gray-outline-solid, $gray-gradient);
    transition: 0.2s;
    filter: brightness(100%);
    color: $gray-text;
    margin-bottom: 4em;

    & > h1 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 0.5em;
    }

    @include darken-on-hover-active;
}
