<div class="footer under-navbar-container">
    <div class="default-x-padding default-y-padding collection-groups-container" *ngIf="user$ | async as user; else loader">
        <app-collection-group *ngFor="let group of user.collectionGroups" [collectionGroup]="group"></app-collection-group>
        <button
            class="add-new-collection-group-header light-box-shadow empty-button dissolve-animation-enter"
            (click)="openModal(collectionGroupForm)">
            <h1 class="header-text collection-group-header-text-margin">
                <img class="add-circle-icon" src="./assets/add-circle.svg" />New collection group
            </h1>
        </button>
    </div>
</div>

<ng-template #collectionGroupForm>
    <app-create-collection-group-form></app-create-collection-group-form>
</ng-template>

<ng-template #loader>
    <div class="loader-container" style="height: 100%"><div class="loader"></div></div>
</ng-template>
