@import '/src/styles/color.scss';
@import '/src/styles/shared.scss';

.collection-groups-container {
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
}

.add-new-collection-group-header {
    border: 3px $gray-outline-solid solid;
    background: $gray-gradient;
    @include collection-group-header();
    color: $gray-text;
    margin-bottom: 4em;

    & > h1 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 0.5em;
    }

    @include darken-on-hover-active;
}

@media (max-width: 600px) {
    h1 {
        font-size: 0.9rem;
    }
    .collection-groups-container {
        row-gap: 1em;
    }
}
