<div class="dissolve-animation-enter">
    <ng-container *ngFor="let landingPageComponent of landingPageComponents">
        <ng-container *ngTemplateOutlet="titleAndDescription; context: { $implicit: landingPageComponent }"></ng-container
    ></ng-container>
</div>

<ng-template #titleAndDescription let-landingPageComponent>
    <div class="landing-page-container">
        <div class="landing-page-section-title-container">
            <h1 class="landing-page-section-title observe-intersection text-shadow">{{ landingPageComponent.title }}</h1>
        </div>
        <p class="landing-page-section-description observe-intersection">{{ landingPageComponent.description }}</p>
        <div class="landing-page-section-additional-container">
            <h2
                class="landing-page-section-additional observe-intersection box-shadow"
                *ngFor="let additional of landingPageComponent.additional">
                {{ additional }}
            </h2>
        </div>
    </div>
</ng-template>

