@import '/src/styles/color.scss';

.landing-page-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;

    scroll-snap-align: start;
    scroll-snap-stop: always;
    row-gap: 1em;
    z-index: 1;
}

.landing-page-container:not(:first-child)::before {
    z-index: -2;
    content: '';
    position: absolute;
    background-image: url('../../../assets/waves-background-top.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: inherit;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    aspect-ratio: 16/9;
}

.landing-page-container::after {
    content: '';
    z-index: -2;

    position: absolute;
    background-image: url('../../../assets/waves-background-bottom.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: inherit;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    aspect-ratio: 16/9;
}

.landing-page-section-title {
    text-align: center;
}

.landing-page-section-description {
    text-align: center;
    width: clamp(45ch, 50%, 75ch);
    font-size: 20px;
}

.landing-page-section-additional-container {
    display: flex;
    justify-content: space-around;
    column-gap: 1em;
}

.landing-page-section-additional {
    background: $secondary-gradient;
    border-radius: 15px;
    padding: 1em;
    font-size: 16px;
}

// scroll effects

.observe-intersection {
    opacity: 0;

    &.landing-page-section-additional {
        transform: translateY(100%);
    }
}

.intersection-detected {
    opacity: 1;

    &.landing-page-section-title {
        transition: 1s;
    }

    &.landing-page-section-description {
        transition: 1s 0.5s;
    }

    &.landing-page-section-additional {
        transform: translateY(0%);
        @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
                transition: 1s #{1 + ($i - 1) * 0.5}s;
            }
        }
    }
}
