<app-flashcard-form
    [formTitle]="formTitle"
    [buttonCallback]="buttonCallback"
    [buttonTemplate]="buttonTemplate"
    [formGroup]="formGroup">
    <ng-container frontside>
        <label for="frontsideFirst">{{ flashcardTerm }}:</label>
        <input id="frontsideFirst" type="text" autocomplete="off" [formControl]="termFormControl" />
    </ng-container>
    <ng-container backside>
        <label for="backsideFirst">{{ flashcardDefinition }}:</label>
        <textarea id="backsideFirst" autocomplete="off" [formControl]="definitionFormControl"></textarea>
    </ng-container>
</app-flashcard-form>
