<div class="modal-overlay-container" *ngIf="showModal$ | async" (mousedown)="close()">
    <div (mousedown)="$event.stopPropagation()" class="modal-overlay-body dissolve-animation-enter light-box-shadow">
        <button class="empty-button close-modal-icon">
            <img src="./assets/close.svg" class="hover-icon grayed-icon" (click)="close()" />
        </button>
        <ng-container [ngTemplateOutlet]="(setTemplate$ | async) || default"></ng-container>
    </div>
</div>

<ng-template #default>
    <div class="form-outer-container modal-confirmation" *ngIf="actionProperties$ | async as actionProperties">
        <h3 [class]="actionProperties.color">{{ actionProperties.title }}</h3>
        <p>{{ actionProperties.description }}</p>
        <p class="modal-confirmation-question">{{ actionProperties.confirmation }}</p>

        <div class="confirmation-buttons">
            <button class="confirm-button" (click)="confirm()">
                Yes <img class="inverted-black-icon" src="./assets/check-circle.svg" />
            </button>
            <button class="cancel-button" (click)="close()">
                Cancel <img class="inverted-black-icon" src="./assets/cancel.svg" />
            </button>
        </div>
    </div>
</ng-template>

