<div *ngIf="showModal$ | async">
    <div
        class="modal-overlay-container"
        *ngIf="modalProperties$ | async as modalProperties"
        (mousedown)="close()"
        [ngClass]="{ 'modal-overlay-container-solid': !modalProperties.transparentBackground }">
        <div (mousedown)="$event.stopPropagation()" class="modal-overlay-body dissolve-animation-enter">
            <button class="empty-button close-modal-icon" *ngIf="modalProperties.showClose">
                <img src="./assets/close.svg" class="hover-icon grayed-icon" (click)="close()" />
            </button>
            <ng-container [ngTemplateOutlet]="(setTemplate$ | async) || default"></ng-container>
        </div>
    </div>
</div>

<ng-template #default>
    <div class="form-outer-container modal-confirmation light-box-shadow" *ngIf="confirmProperties$ | async as confirmProperties">
        <h3 [class]="confirmProperties.color">{{ confirmProperties.title }}</h3>
        <p class="modal-confirmation-description">{{ confirmProperties.description }}</p>
        <p class="modal-confirmation-question">{{ confirmProperties.confirmation }}</p>

        <div class="confirmation-buttons">
            <button class="confirm-button" (click)="confirm()">
                Yes <img class="inverted-black-icon" src="./assets/check-circle.svg" />
            </button>
            <button class="cancel-button" (click)="close()">
                Cancel <img class="inverted-black-icon" src="./assets/cancel.svg" />
            </button>
        </div>
    </div>
</ng-template>

