@import '/src/styles/color.scss';

.custom-button {
    cursor: pointer;
    border: unset;
    font-size: 16px;
    background: inherit;
}

.user-icon {
    height: 14px;
    transition: 0.2s;
}

.user-icon-rotated {
    transform: rotate(180deg);
}

$borderWidth: 3px;

.username-container {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin: 0;
}

.username-button {
    padding: 0.5em;
    display: flex;
    align-items: center;
    column-gap: 0.3em;

    border: $borderWidth rgba(255, 255, 255, 0) solid;
    border-radius: 5px;
    border-bottom: unset;
    transition: 0.2s;

    .active > & {
        border: $borderWidth $secondary-background solid;
        border-bottom: unset;
        border-bottom-left-radius: unset;
        border-bottom-right-radius: unset;
        background: $secondary-gradient;
    }
}

.username-options {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100%;
    left: 0;
    width: 100%;

    .active > & {
        border: $borderWidth $secondary-background solid;
        border-radius: 5px;
        border-top: unset;
        border-top-left-radius: unset;
        border-top-right-radius: unset;
    }

    & > * {
        padding: 0.5rem 0;
        background: $secondary-gradient;

        .active & {
            border-top: $borderWidth $secondary-background solid;
            transition: 0.2s;

            &:hover {
                background: $secondary-gradient-hover;
            }

            &:active {
                background: $secondary-gradient-active;
            }
        }
    }

    & > *:last-child {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}
