.user-outer-container {
    &,
    & * {
        font-size: 1.1rem;
    }
}

@media (max-width: 600px) {
    .user-outer-container {
        &,
        & * {
            font-size: 0.95rem;
        }
    }
}

.user-icon {
    height: 14px;
}

.username-min-width {
    min-width: 4em;
}
