<button class="login-button" (click)="signWithGooglePopup()" *ngIf="!isUserAuthenticated; else authenticated">
    Sign in<img src="./assets/google.png" alt="Google logo" class="user-icon inverted-black-icon" />
</button>
<ng-template #authenticated>
    <div class="user-outer-container">
        Hi,
        <div #usernameButton class="username-container" [ngClass]="{ active: optionsExpanded }" (click)="toggleOptions()">
            <button class="username-button custom-button">
                {{ username }}
                <img src="./assets/arrow-down.png" class="user-icon" [ngClass]="{ 'user-icon-rotated': optionsExpanded }" />
            </button>
            <div #options @slideAnimation class="username-options" *ngIf="optionsExpanded">
                <button class="custom-button">Settings</button>
                <button class="custom-button" (click)="signOut()">Sign out</button>
            </div>
        </div>
    </div>
</ng-template>
