.user-outer-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    &,
    & * {
        font-size: 1.1rem;
    }
}

@media (max-width: 600px) {
    .user-outer-container {
        &,
        & * {
            font-size: 0.95rem;
        }
    }
}

@media (max-width: 600px) {
    .hi {
        display: none;
    }
}

.user-icon {
    height: 14px;
}

.username-button {
    color: black;
    min-width: 4em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
