<button class="login-button" (click)="signWithGooglePopup()" *ngIf="!isUserAuthenticated; else authenticated">
    {{ signInText }}<img src="./assets/google.png" alt="Google logo" class="user-icon inverted-black-icon" />
</button>
<ng-template #authenticated>
    <div class="user-outer-container">
        <span class="hi">{{ hiText }},</span>
        <app-dropdown-menu [properties]="userDropdownOptions" (optionClicked)="signOut()"></app-dropdown-menu>
    </div>
</ng-template>

<ng-template #usernameTemplate>
    <div class="username-button">
        {{ username }}
    </div>
</ng-template>
