<app-flashcard-form
    [formTitle]="formTitle"
    [buttonCallback]="buttonCallback"
    [buttonTemplate]="buttonTemplate"
    [formGroup]="formGroup">
    <ng-container frontside>
        <label for="frontsideFirst">{{ flashcardWord }}:</label>
        <input id="frontsideFirst" type="text" autocomplete="off" [formControl]="wordFormControl" />
        <label for="frontsideSecond">{{ flashcardSentence }}:</label>
        <textarea
            id="frontsideSecond"
            autocomplete="off"
            [formControl]="sentenceFormControl"
            [placeholder]="optionalText"></textarea>
    </ng-container>
    <ng-container backside>
        <label for="backsideFirst">{{ flashcardTranslation }}:</label>
        <input id="backsideFirst" type="text" autocomplete="off" [formControl]="translationFormControl" />
        <label for="backsideSecond">{{ flashcardTranslatedSentence }}:</label>
        <textarea
            id="backsideSecond"
            autocomplete="off"
            [formControl]="translatedSentenceFormControl"
            [placeholder]="optionalText"></textarea>
    </ng-container>
</app-flashcard-form>
