<app-flashcard-form
    [formTitle]="formTitle"
    [buttonCallback]="buttonCallback"
    [buttonTemplate]="buttonTemplate"
    [formGroup]="formGroup">
    <ng-container frontside>
        <label for="flashcard-word">{{ flashcardWord }}:</label>
        <input id="flashcard-word" type="text" autocomplete="off" [formControl]="wordFormControl" />
        <label for="flashcard-term">{{ flashcardSentence }}:</label>
        <textarea
            id="flashcard-example-sentence"
            autocomplete="off"
            [formControl]="sentenceFormControl"
            [placeholder]="optionalText"></textarea>
    </ng-container>
    <ng-container backside>
        <label for="flashcard-translation">{{ flashcardTranslation }}:</label>
        <input id="flashcard-translation" type="text" autocomplete="off" [formControl]="translationFormControl" />
        <label for="flashcard-term">{{ flashcardTranslatedSentence }}:</label>
        <textarea
            id="flashcard-translated-sentence"
            autocomplete="off"
            [formControl]="translatedSentenceFormControl"
            [placeholder]="optionalText"></textarea>
    </ng-container>
</app-flashcard-form>

