<div class="flip-card" [ngClass]="{ 'flip-card-flipped': flipped }">
    <div class="flip-card-inner">
        <div class="flashcard-display light-box-shadow flip-card-front">
            <div class="flashcard-display-upper-text-container" appMatchHeight [elementToMatchHeight]="backsideUpper">
                <div class="flashcard-display-upper-text">{{ frontsideFlashcardHeader }}</div>
            </div>
            <div class="flashcard-display-lower-text-container">
                <div class="flashcard-display-lower-text" appMatchHeight [elementToMatchHeight]="backsideLower">
                    {{ frontsideFlashcardBody }}
                </div>
            </div>
            <div class="flashcard-display-buttons">
                <button class="empty-button flashcard-preview-control-icon flashcard-preview-edit">
                    <img src="./assets/expand_more.svg" class="grayed-icon-hover icon-rotated-90" />
                </button>
                <button class="empty-button flashcard-preview-control-icon flashcard-preview-flip" (click)="flip()">
                    <img src="./assets/360.svg" class="grayed-icon-hover" />
                </button>
                <button class="empty-button flashcard-preview-control-icon flashcard-preview-delete">
                    <img src="./assets/expand_more.svg" class="grayed-icon-hover icon-rotated-270" />
                </button>
            </div>
        </div>
        <div class="flashcard-display light-box-shadow flip-card-back" #backside>
            <div class="flashcard-display-upper-text-container" #backsideUpper>
                <div class="flashcard-display-upper-text" *ngIf="backsideFlashcardHeader">
                    {{ backsideFlashcardHeader }}
                </div>
            </div>
            <div class="flashcard-display-lower-text-container">
                <div class="flashcard-display-lower-text" #backsideLower>{{ backsideFlashcardBody }}</div>
            </div>
            <div class="flashcard-display-buttons">
                <button class="empty-button flashcard-preview-control-icon flashcard-preview-edit">
                    <img src="./assets/expand_more.svg" class="grayed-icon-hover icon-rotated-90" />
                </button>
                <button class="empty-button flashcard-preview-control-icon flashcard-preview-flip" (click)="flip()">
                    <img src="./assets/360.svg" class="grayed-icon-hover" />
                </button>
                <button class="empty-button flashcard-preview-control-icon flashcard-preview-delete">
                    <img src="./assets/expand_more.svg" class="grayed-icon-hover icon-rotated-270" />
                </button>
            </div>
        </div>
    </div>
</div>

