<div class="flip-card" [ngClass]="{ 'flip-card-flipped': flipped }">
    <div class="flip-card-inner">
        <div class="flashcard-container light-box-shadow flip-card-front">
            <ng-container [ngTemplateOutlet]="closeButton"></ng-container>
            <div class="flashcard-upper-text-container" appMatchHeight [elementToMatchHeight]="backsideUpper">
                <div class="flashcard-upper-text">{{ frontsideFlashcardHeader }}</div>
            </div>
            <div class="flashcard-display-lower-text-container">
                <div class="flashcard-lower-text" appMatchHeight [elementToMatchHeight]="backsideLower">
                    {{ frontsideFlashcardBody }}
                </div>
            </div>
            <ng-container [ngTemplateOutlet]="flashcardControls"></ng-container>
        </div>
        <div class="flashcard-container light-box-shadow flip-card-back" #backside>
            <ng-container [ngTemplateOutlet]="closeButton"></ng-container>
            <div class="flashcard-upper-text-container" #backsideUpper>
                <div class="flashcard-upper-text" *ngIf="backsideFlashcardHeader">
                    {{ backsideFlashcardHeader }}
                </div>
            </div>
            <div class="flashcard-display-lower-text-container">
                <div class="flashcard-lower-text" #backsideLower>{{ backsideFlashcardBody }}</div>
            </div>
            <ng-container [ngTemplateOutlet]="flashcardControls"></ng-container>
        </div>
    </div>
</div>

<ng-template #flashcardControls>
    <div class="flashcard-display-buttons">
        <button class="empty-button" [ngClass]="{ invisible: !isTherePrevious }" (click)="previous()">
            <img src="./assets/expand_more.svg" class="grayed-icon-hover icon-rotated-90" />
        </button>
        <button class="empty-button" (click)="flip()">
            <img src="./assets/360.svg" class="grayed-icon-hover" />
        </button>
        <button class="empty-button" [ngClass]="{ invisible: !isThereNext }" (click)="next()">
            <img src="./assets/expand_more.svg" class="grayed-icon-hover icon-rotated-270" />
        </button>
    </div>
</ng-template>

<ng-template #closeButton>
    <button class="empty-button flashcard-top-right-icon" (click)="close()">
        <img src="./assets/close.svg" class="grayed-icon-hover" />
    </button>
</ng-template>

