<form class="form-inner-container" [formGroup]="formGroup" (ngSubmit)="callback($event)">
    <div class="form-body">
        <label for="collection-name">{{ nameText }}:</label>
        <input id="collection-name" type="text" formControlName="name" autocomplete="off" />
        <label for="collection-description">{{ descriptionText }}:</label>
        <textarea
            id="collection-description"
            formControlName="description"
            autocomplete="off"
            [placeholder]="optionalText"></textarea>
        <!-- <label for="collection-public">Public:</label>
        <input type="checkbox" name="public" id="collection-public" formControlName="isPublic" /> -->
        <ng-container *ngIf="!editForm">
            <label for="type">{{ collectionTypeText }}:</label>
            <div class="collection-type-container">
                <label>
                    <input type="radio" name="type" id="definition" value="definition" formControlName="type" />
                    <div class="collection-type-option-container">
                        <div class="collection-type-example-container">
                            <h4>{{ termText }}</h4>
                        </div>
                        <img src="./assets/swap-horiz.svg" />
                        <div class="collection-type-example-container">
                            <p>{{ definitionText }}</p>
                        </div>
                    </div>
                </label>
                <label>
                    <input type="radio" name="type" id="translation" value="translation" formControlName="type" />
                    <div class="collection-type-option-container">
                        <div class="collection-type-example-container">
                            <h4>{{ wordText }}</h4>
                            <p>{{ exampleUseText }}</p>
                        </div>
                        <img src="./assets/swap-horiz.svg" />
                        <div class="collection-type-example-container">
                            <h4>{{ translationText }}</h4>
                            <p>{{ translatedUseText }}</p>
                        </div>
                    </div>
                </label>
            </div>
        </ng-container>
        <label for="collection-name">{{ groupText }}:</label>
        <select name="group" id="group" formControlName="group">
            <option *ngFor="let group of collectionGroups" [value]="group">{{ group }}</option>
        </select>
    </div>
    <button type="submit">
        <ng-container [ngTemplateOutlet]="buttonTemplate"></ng-container>
    </button>
</form>
