<div class="form-outer-container">
    <h3>{{ formTitle }}</h3>
    <form
        class="form-inner-container flip-card"
        [ngClass]="{ 'flip-card-flipped': formFlipped }"
        [formGroup]="formGroup"
        (ngSubmit)="callback($event)">
        <div class="flip-card-inner">
            <div class="flip-card-front" appMatchHeight [elementToMatchHeight]="backside">
                <div class="form-body">
                    <ng-content select="[frontside]"></ng-content>
                </div>
            </div>
            <div class="flip-card-back" #backside>
                <div class="form-body">
                    <ng-content select="[backside]"></ng-content>
                </div>
            </div>
        </div>
        <div class="flashcard-form-buttons-container">
            <button type="button" class="empty-button" (click)="flip()">
                <img class="grayed-icon flashcard-form-flip-icon" src="./assets/360.svg" />
            </button>
            <button type="submit">
                <ng-container [ngTemplateOutlet]="buttonTemplate"></ng-container>
            </button>
        </div>
    </form>
</div>

