@import '/src/styles/color.scss';

.flashcard-form-buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.flashcard-form-flip-icon {
    width: 2rem;
}

.ng-submitted .otherside-invalid {
    filter: invert(31%) sepia(39%) saturate(3944%) hue-rotate(341deg) brightness(81%) contrast(102%);
}
