@import './styles/button';
@import './styles/icon';
@import './styles/shadow';
@import './styles/animations';
@import './styles/color';
@import './styles/typo';
@import './styles/utils';
@import './styles/form';
@import './styles/flipcard';

* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background-color: $tertiary-background;

    &:has(.modal-overlay-container) {
        overflow: hidden;
    }
}

html {
    scroll-snap-type: y mandatory;
}

img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.footer {
    padding-bottom: 8rem;
    position: relative;

    &::after {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        color: $tertiary-background;
        font-size: 0.8rem;
        content: 'Contact: pppkwapien@gmail.com';
        padding-bottom: 1em;
        z-index: -1;

        position: absolute;
        background-image: url('./assets/waves-background-bottom.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-color: inherit;
        width: 100%;
        bottom: 0;
        aspect-ratio: 16/9;
    }

    @media (max-width: 600px) {
        &::after {
            font-size: 0.7rem;
        }
    }
}
